{% block content %}

<section class="banner">
  <div class="container">
    <div class="col-md-5">
      <h1>Nous sommes propulsé par l'innovation.</h1>
      <p>Dans toute l'Ile de France, nous vous accompagnons dans la conception et la réalisation de vos travaux dites de "gros oeuvre"</p>
    </div>
  </div>
</section>

{% endblock %}
