{% block content %}

<section class="first-number">
  	<div class="container">
    	<div class="col-md-ofset-3 col-md-3">
      		<h1>2012</h1>
      		<p>Date de creation</p>
  		</div>
    <div class="col-md-3">
      	<h1>149</h1>
      	<p>Chantiers réalisés</p>
  	</div>
</section>

{% endblock %}