{% block content %}

<section class="second-number">
  	<div class="container">
    	<div class="col-md-offset-4 col-md-3">
      		<h1>317</h1>
      		<p>Lorem ipsum doler</p>
  		</div>
    <div class="col-md-3">
      	<h1>6</h1>
      	<p>Salariés</p>
  	</div>
</section>

{% endblock %}