<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/main.css" />
</head>
<body>
<header>
    <h3 class="yellow">ICI HEADER</h3>
</header>

{% block content %}
{% endblock %}

<footer>
    <h3 class="yellow">ICI FOOTER</h3>
</footer>
</body>
</html>